<!DOCTYPE html>
<html>
  <head>
    <% include ../static/partials/head.ejs %>
  </head>
  <body>
    <% include ../static/partials/navbar.ejs %>
    <main class="main-container">

      <% include ../static/partials/messages.ejs %>

      <h3>Add to your list</h3>

      <form action="/bucketItems/createBucketItem" method="post">
        <div class="form-group">
          <label for="title">Item:</label>
          <input type="title" class="form-control" name="title" placeholder="Add an item to your bucket list here.">
          <small>Item title is required</small>
        </div>

        <div class="form group">
          <label for="description">Description:</label>
          <input type="text" class="form-control" name="description" placeholder="Additional description">
        </div>

        <div class="form-group">
          <label for="location">Location:</label>
          <input type="text" class="form-control" name="location" placeholder="Enter location">
        </div>

        <div class="form-group">
          <label for="type">What is this item?</label>
          <div class="flex-container">
            <div class="flex-container-radio">
                <label for="lifeExperience">Life Experience</label>
                <input type="radio" class="form-control" name="type" value="lifeExperience" id="lifeExperience">
              </div>
              <div class="flex-container-radio">
                <label for="localAttraction">Local Attraction</label>
                <input type="radio" class="form-control" name="type" value="localAttraction" id="localAttraction">
              </div>
              <div class="flex-container-radio">
                <label for="travelDestination">Travel Destination</label>
                <input type="radio" class="form-control" name="type" value="travelDestination" id="travelDestination">
              </div>
          </div>
          <small>Item type is required</small>
        </div>

        <button type="submit" class="btn btn-primary">Add Item</button>
      </form>

    </main>

    <% include ../static/partials/baseScripts.ejs %>

  </body>
</html>
