<!DOCTYPE html>
<html>
  <head>
    <% include ../static/partials/head.ejs %>
  </head>
  <body>
    <% include ../static/partials/navbar.ejs %>
    <main class="main-container">

      <% include ../static/partials/messages.ejs %>

      <h3>Add to your list</h3>
      <p>Someday this will be the page where you can add a new item to your list!</p>

    </main>

    <% include ../static/partials/baseScripts.ejs %>

  </body>
</html>
