<nav class="navbar navbar-lg navbar-fixed-left">
  <div class="container">
      <ul class="navbar-nav ml-auto">

        <% if(currentUser) { %>
          <li class="nav-item">
            <a class="nav-link" href="/users/profile">My Profile</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="/users/log_out">Log out</a>
          </li>

        <% } else { %>
          <li class="nav-item">
            <a class="nav-link" href="/users/sign_up">Sign up</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="/users/log_in">Log in</a>
          </li>
        <% }%>

      </ul>

  </div>
</nav>
