html, body {
  min-height: 100%;
}

body {
  background-image: linear-gradient(#d6e3ff, #c3cde2);
}

.main-container {
  padding-left: 160px;
  padding-right: 20px;
  padding-top: 10px;
}

.navbar {
  background-image: linear-gradient(#6090f7, #3b70e2);
}

.navbar-fixed-left {
  position: fixed;
  height: 100%;
  width: 140px;
  align-content: center;
}

.navbar-toggler-icon {
  color: #c3cde2;
}

.nav-link {
  color: white;
}

#new-item-button {
  float: right;
}

.btn-primary {
  background-image: linear-gradient(#6090f7, #3b70e2);
}

.bucket-item {
  background-color: #ffffcc;
}

.bucket-item-complete {
  background-color: #adebad;
}

.item-type {
  font-style: italic;
}

.material-icons {
  color: black;
  padding: 3px;
}

.material-icons:hover {
  color: blue;
}

.flex-container {
  display: flex;
}

.flex-container-radio {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 75px;
  width: 25%;
  background-image: linear-gradient(#d0d8e2, #acbadb);
  padding: 15px;
  margin: 5px;
  border-radius: 10%;
}
