html, body{
  height: 100%;
}

body {
  background-image: linear-gradient(#d6e3ff, #c3cde2);
}

.main-container{
  padding-left: 160px;
  padding-top: 10px;
}

.navbar{
  background-image: linear-gradient(#6090f7, #3b70e2);
}

.nav-link{
  color: white;
}

.navbar-fixed-left {
  position: fixed;
  height: 100%;
  width: 140px;
}
