<!DOCTYPE html>
<html lang="en">
  <head>
    <% include ./partials/head.ejs %>
  </head>
  <body>
    <% include ./partials/navbar.ejs %>
    <main class="main-container">
      <% include ./partials/messages.ejs %>
      <h1 class="page-title">Bucket List</h1>
      <p>Welcome! Please log in to see your list.</p>
      <% include ./partials/newItem.ejs %>
    </main>
    <% include ./partials/baseScripts.ejs %>
  </body>
</html>
