<!DOCTYPE html>
<html lang="en">
  <head>
    <% include ./partials/head.ejs %>
  </head>
  <body>
    <% include ./partials/navbar.ejs %>
    <main class="main-container">
      <h1 class="page-title">Bucket List!</h1>
      <p>Lots to look forward to! This will be the home page.</p>
    </main>
    <% include ./partials/baseScripts.ejs %>
  </body>
</html>
