<!DOCTYPE html>
<html>
  <head>
    <% include ../static/partials/head.ejs %>
  </head>
  <body>
    <% include ../static/partials/navbar.ejs %>
    <main class="main-container">

      <% include ../static/partials/messages.ejs %>

      <h3>Sign up for an account with Bucket List</h3>

      <form action="/users" method="post">
        <div class="form-group">
          <label for="email">Email:</label>
          <input type="email" class="form-control" name="email" aria-describedby="emailHelp" placeholder="Enter email">
          <small class="text-muted" id="emailHelp">Must enter a valid address</small>
        </div>

        <div class="form group">
          <label for="username">Username:</label>
          <input type="username" class="form-control" name="username" aria-describedby="usernameHelp" placeholder="Enter username">
          <small class="text-muted" id="usernameHelp">Username must be at least 3 characters long</small>
        </div>

        <div class="form-group">
          <label for="password">Password:</label>
          <input type="password" class="form-control" name="password" aria-describedby="passwordHelp" placeholder="Enter password">
          <small class="text-muted" id="passwordHelp">Password must be at least 8 characters long and match confirmation below</small>
        </div>

        <div class="form-group">
          <label for="passwordConfirmation">Password confirmation</label>
          <input type="password" class="form-control" name="passwordConfirmation" aria-describedby="passwordHelp" placeholder="Confirm password">
        </div>

        <button type="submit" class="btn btn-primary">Create Account</button>
      </form>

    </main>

    <% include ../static/partials/baseScripts.ejs %>

  </body>
</html>
